// CONTENT
$color-body-bg: #f5f8fd;
$color-text: #707070;
$color-heading-text: #35495e;
$color-body-bg: #efefef;
$bg-brand-green: #06dca9;
$brand-dgreen: #343b4a;
$brand-dblue: #334261;
$form-error: #d8042c;

//ADMIN BOXS
$bg-box-blue: #cde1fc;
$bg-box-teal: #b6f6ff;
$bg-box-yellow: #ffe9b8;
$bg-box-orange: #ffd0c0;
$text-box-blue: #276ece;
$text-box-teal: #2fb5c8;
$text-box-yellow: #d0940c;
$text-box-orange: #e98360;

// LINKS
$onwhite: #fff;
$back-btn: #6fa1d6;
$onboarding-btn: #f207e2;
$onboarding-btn-dark: #8c0375;
$form-color: #580259;

//HEADINGS
$section-heading: rgb(51, 66, 97);
