// CONTENT
$color-body-bg: #f5f8fd;
$color-text: #212529;
$color-heading-text: #35495e;
$color-body-bg: #f5f8fd;
$bg-brand-green: #06dca9;
$brand-dgreen: #343b4a;
$brand-dblue: #334261;

// LINKS
$onwhite: #fff;
