$body-font-family: "Roboto", sans-serif;

$heading-font-family: $body-font-family;
$heading-font-weight: 400;

$content-font-family: $body-font-family;
$content-font-weight: 100;

%font-heading {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $color-heading-text;
}

%font-content {
  font-family: $content-font-family;
  font-weight: $content-font-weight;
  color: $color-text;
}
