@mixin background-img($img) {
  background: url($img);
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: 20% 80% !important;
}

@mixin ui-full-bg-norm($img) {
  background: url($img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
