@import "colors";
@import "fonts";
@import "utillities";
@import "dashboard";
@import "auth/form";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $color-body-bg;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $color-text;
  text-align: left;
}

#nprogress .bar {
  background: $bg-brand-green;
}

// globals
.btn--sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.bg-white {
  background-color: #fff;
}

.bg-brand-green {
  background-color: $bg-brand-green;
}

.ui-rounded-small {
  border-radius: 0.5em;
}

.ui-text-left {
  text-align: left;
}

.back__btn {
  position: relative;
  top: 0px;
}

.auth--brand .back__btnText a {
  color: #35999e !important;
}

.auth--brand img {
  width: 15px;
  marging-right: 0.5rem;
}

.brand-dgreen,
.brand-dgreen button {
  color: $brand-dgreen !important;
  text-decoration: none;
  border: none;
  background: transparent;
}
.brand-dgreen,
.brand-dgreen a {
  color: $brand-dgreen !important;
}

.fs-14 {
  font-size: 14px;
}

.fs-20 {
  font-size: 20px;
}

.fs-16 {
  font-size: 16px !important;
}

.brand-dblue,
.brand-dblue a {
  color: $brand-dblue !important;
}

.onwhite,
.onwhite a {
  color: onwhite !important;
}

.ui-text-center {
  text-align: center;
}

.ui-avatar-large {
  width: 120px;
  height: 120px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff !important;
  opacity: 1;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #06dca9 !important;
  outline: none !important;
}

.ui-sidebar-primary-body::-webkit-scrollbar {
  width: 2px;
}

.ui-sidebar-primary-body::-webkit-scrollbar-thumb {
  background: #06dca9 !important;
  border-radius: 12px;
}

.ui-sidebar-primary-body::-webkit-scrollbar-thumb:hover {
  background: #06dca9 !important;
}

@media (max-width: 576px) {
  .ui-sidebar-primary-body::-webkit-scrollbar {
    width: 2px;
  }

  .ui-sidebar-primary-body::-webkit-scrollbar-thumb {
    background: #06dca9 !important;
    border-radius: 6px;
  }

  .ui-sidebar-primary-body::-webkit-scrollbar-thumb:hover {
    background: #06dca9 !important;
  }
}
