@import "colors";
@import "fonts";
@import "utillities";
@import "dashboard";

.ui-avatar-large {
  width: 120px;
  height: 120px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff !important;
  opacity: 1;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #06dca9 !important;
  outline: none !important;
}
